h1{
    font-size: 6.5em;
    font-family: $headFont;
    color: $teal;
    margin-top: 0;
    padding-top: 10%;
    text-shadow: white 1px 0 5px;
}
h2{
    font-size: 4rem;
    font-family: $headFont;
    color:black;
    margin-top: 20%;
    margin-bottom: 5%;
    padding-top:5%;
}
.headerSubtitle{
    color:$teal;
    padding-top: 0;
    margin-top: 0;
}
h3{
    font-size: 2.5rem;
    font-family: $headFont;
}
p, li, button{
    font-family: $bodyFont;
    font-size:1.5rem ;
}
.about p{
    line-height: 1.5;
}
footer p{
    font-size: 1rem;
    vertical-align: middle;
}
.pContact{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.pContact:hover, .pContact:focus{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family: $bodyFont;
    color: $teal;
}
li{
    list-style-type: none;
}
